div.btest-content { 
    border-style: solid; border-color: gray;
    border-width: 2pt;
    padding: 1em;
    margin: 1em;
    overflow: auto;
}

.btest-status fieldset { display: inline-block; text-align: right; }
.ie6 .btest-status fieldset { display: inline; }
.btest-status legend { text-align: left; font-weight: bold; }
.untested { color: olive; }
.passed { color: green; }
.failed { color: red; }
